* {
  margin: 0;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 1536px) {
  }
}

body {
  font-family: $montserrat;
  font-size: 1.8rem;
  color: $color-white;
  background-color: $color-black;
}

.accent-yellow {
  color: $primary-color;

  &.hero {
    @media screen and (max-width: $sm-screen-max) {
      color: $color-white;
    }
  }

  &.hero-mid {
    @media screen and (max-width: $md-screen-max) {
      color: $color-white;
    }
  }
}
