header {
  background-image: url("../../img/sections-img/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: $lg-screen) {
    background-image: url("../../img/sections-img/hero-background-mid.png");
  }

  @media screen and (max-width: $sm-screen) {
    background-image: url("../../img/sections-img/hero-background-screen-small.png");
    background-size: contain;
  }

  &.contact {
    background-image: none;
  }
}

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0rem auto;

  .img-contact-page {
    position: absolute;
    right: 0;
    left: 50%;
    top: 15%;
    border-radius: 50rem 0 0 50rem;
    width: 50%;
    max-height: 45rem;
    height: 100%;
    overflow: hidden;

    @media screen and (max-width: $lg-screen) {
      left: 0;
      width: 100%;
      max-height: 50rem;
      border-radius: 0;
      z-index: -1;
    }

    img {
      border-radius: 50rem 0 0 50rem;
      width: 100%;
      height: 100%;

      @media screen and (max-width: $lg-screen) {
        border-radius: 0 0 20rem 20rem;
      }
    }
  }

  @media screen and (max-width: 1600px) {
    max-width: 110rem;
  }

  @media screen and (max-width: $max-width) {
    max-width: 100rem;
  }

  @media screen and (max-width: $lg-screen) {
    max-width: 80rem;
  }

  @media screen and (max-width: $sm-screen) {
    max-width: 60rem;
  }
}
