h1 {
  font-size: 2zem;
  margin: 0;
  font-weight: 100;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 100;
}

h3 {
  font-size: 1.17em;
  margin: 0;
  font-weight: 100;
}

h4 {
  font-size: 1em;
  margin: 0;
  font-weight: 100;
}

h5 {
  font-size: 0.83em;
  margin: 0;
  font-weight: 100;
}

h6 {
  font-size: 0.67em;
  margin: 0;
  font-weight: 100;
}
