/* Colors */
$primary-color: #f4ce14;
$primary-color-hover: #e1c224;
$color-black: #272829;
$color-black-transp: rgba(39, 40, 41, 0.901);
$color-white: #f5f7f8;

/* Breakpoints */
$xs-small-screen: 320px;
$xs-screen: 350px;
$xs-screen-mid: 414px;
$xs-screen-max: 767px;
$sm-screen: 768px;
$sm-screen-max: 991px;
$md-screen: 992px;
$md-screen-max: 1199px;
$lg-screen: 1024px;
$lg-screen-max: 1200px;
$max-width: 1400px;

/* Fonts */
$montserrat: "Montserrat", sans-serif;
