/* Colors */
/* Trans */
/* Shadow */
/* Gradient */
/* Breakpoints */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
h1 {
  font-size: 2zem;
  margin: 0;
  font-weight: 100;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 100;
}

h3 {
  font-size: 1.17em;
  margin: 0;
  font-weight: 100;
}

h4 {
  font-size: 1em;
  margin: 0;
  font-weight: 100;
}

h5 {
  font-size: 0.83em;
  margin: 0;
  font-weight: 100;
}

h6 {
  font-size: 0.67em;
  margin: 0;
  font-weight: 100;
}

#nav-fixed {
  margin: 0 auto;
  width: 100%;
}
#nav-fixed.active {
  position: fixed;
  background-color: #272829;
  top: 0;
  z-index: 1000;
}

.navigation-component {
  padding: 4rem 2rem 3rem 2rem;
  width: 75%;
  margin: 0 auto;
}
.navigation-component .elements-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigation-component .logo {
  width: 20rem;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 1024px) {
  .navigation-component .logo {
    width: 15rem;
  }
}
.navigation-component .logo img {
  width: 100%;
  height: 100%;
}
.navigation-component .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}
@media screen and (max-width: 1400px) {
  .navigation-component .menu {
    gap: 6rem;
  }
}
@media screen and (max-width: 1250px) {
  .navigation-component .menu {
    gap: 4rem;
  }
}
.navigation-component .list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 7rem;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 1400px) {
  .navigation-component .list {
    gap: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .navigation-component .list {
    gap: 2rem;
  }
}
.navigation-component .link-menu {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #272829;
}
.navigation-component .link-menu.active {
  color: #272829;
  font-weight: 700;
}
.navigation-component .link-menu.change-color {
  color: #f5f7f8;
}
.navigation-component .link-menu.change-color::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #f5f7f8;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.navigation-component .link-menu.change-color:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation-component .link-menu.contact-page {
  color: #f5f7f8;
}
.navigation-component .link-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  border-radius: 0.4rem;
  background-color: #272829;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navigation-component .link-menu:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation-component .space {
  display: inline-block;
  width: 8.8rem;
}
.navigation-component .hamburger {
  display: none;
  background-color: #f4ce14;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
}
.navigation-component .hamburger .bar {
  display: block;
  width: 2rem;
  height: 0.3rem;
  margin: 0.4rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #272829;
}
@media screen and (max-width: 1150px) {
  .navigation-component .menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    padding-bottom: 5rem;
    flex-direction: column;
    background-color: #272829;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    gap: 4rem;
    z-index: 3;
    box-shadow: 0 0.4rem 0.2rem -0.2rem #f4ce14;
  }
  .navigation-component .menu.active {
    left: 0;
  }
  .navigation-component .primary-button {
    margin: 0 auto;
  }
  .navigation-component .primary-button.nav {
    background-color: #f4ce14;
    color: #272829;
  }
  .navigation-component .primary-button.nav:hover {
    background-color: #e1c224;
  }
  .navigation-component .list {
    padding-top: 8rem;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
  }
  .navigation-component .list-link {
    position: relative;
    width: 70%;
    text-align: center;
    padding: 2rem 0 1rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .navigation-component .link-menu {
    color: #f5f7f8;
    font-weight: 500;
  }
  .navigation-component .link-menu.active {
    color: #f5f7f8;
  }
  .navigation-component .link-menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #f5f7f8;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  .navigation-component .link-menu:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .navigation-component .hamburger {
    display: block;
    cursor: pointer;
    z-index: 9;
  }
  .navigation-component .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navigation-component .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.7rem) rotate(45deg);
  }
  .navigation-component .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.7rem) rotate(-45deg);
  }
}

.footer {
  background-color: #f4ce14;
  padding: 6rem 2rem;
  position: relative;
}
.footer .logo {
  width: 20rem;
  height: -moz-fit-content;
  height: fit-content;
}
.footer .logo img {
  width: 100%;
  height: 100%;
}
.footer .footer-links {
  display: flex;
  gap: 20rem;
  flex-wrap: wrap;
  padding-right: 2rem;
  margin: 0 auto;
  width: 75%;
}
@media screen and (max-width: 1600px) {
  .footer .footer-links {
    gap: 12rem;
  }
}
@media screen and (max-width: 1400px) {
  .footer .footer-links {
    gap: 10rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer .footer-links {
    gap: 5rem;
  }
}
@media screen and (max-width: 540px) {
  .footer .footer-links {
    flex-direction: column;
    gap: 6rem;
    padding-left: 3rem;
  }
}
.footer .footer-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer .title-list {
  color: #272829;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .footer .title-list {
    font-size: 1.6rem;
  }
}
.footer .item-list {
  text-decoration: none;
  color: #272829;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1024px) {
  .footer .item-list {
    font-size: 1.6rem;
  }
}
.footer .item-list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #272829;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.footer .item-list:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.footer .storyset {
  font-size: 1rem;
  text-decoration: none;
  color: #272829;
  position: absolute;
  bottom: 1rem;
}

.primary-button {
  background-color: #f4ce14;
  color: #272829;
  text-decoration: none;
  padding: 1.3rem 3rem;
  border-radius: 10rem;
  font-weight: 500;
  white-space: nowrap;
}
.primary-button:hover {
  background-color: #e1c224;
}
.primary-button.transp {
  border: 0.2rem solid #f4ce14;
  background-color: #272829;
  color: #f5f7f8;
}
.primary-button.transp:hover {
  background-color: rgba(244, 207, 20, 0.168627451);
}
.primary-button.nav {
  background-color: #272829;
  color: #f5f7f8;
}
.primary-button.nav:hover {
  background-color: rgba(39, 40, 41, 0.901);
}
.primary-button.nav.contact-page {
  background-color: #f4ce14;
  color: #272829;
}
.primary-button.nav.contact-page:hover {
  background-color: #e1c224;
}
.primary-button.nav.change-color {
  background-color: #f4ce14;
  color: #272829;
}
.primary-button.nav.change-color:hover {
  background-color: #e1c224;
}
.primary-button #nav-btn {
  background-color: #272829;
  color: #f5f7f8;
}
.primary-button #nav-btn:hover {
  background-color: rgba(39, 40, 41, 0.901);
}

header {
  background-image: url("../../img/sections-img/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  header {
    background-image: url("../../img/sections-img/hero-background-mid.png");
  }
}
@media screen and (max-width: 768px) {
  header {
    background-image: url("../../img/sections-img/hero-background-small-screen.png");
  }
}
header.contact {
  background-image: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0rem auto;
}
.container .img-contact-page {
  position: absolute;
  right: 0;
  left: 50%;
  top: 15%;
  border-radius: 50rem 0 0 50rem;
  width: 50%;
  max-height: 45rem;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .container .img-contact-page {
    left: 0;
    width: 100%;
    max-height: 50rem;
    border-radius: 0;
    z-index: -1;
  }
}
.container .img-contact-page img {
  border-radius: 50rem 0 0 50rem;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .container .img-contact-page img {
    border-radius: 0 0 20rem 20rem;
  }
}
@media screen and (max-width: 1600px) {
  .container {
    max-width: 110rem;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    max-width: 100rem;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 80rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

.form-component {
  margin: 0 auto 20rem;
  width: 90%;
  background-color: #f4ce14;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .form-component {
    flex-direction: column;
    margin-bottom: 10rem;
  }
}
.form-component .form-text-box {
  padding: 3rem 5rem;
  margin: auto 0;
}
.form-component .title {
  font-size: 2.4rem;
  color: #272829;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .form-component .title {
    font-size: 1.8rem;
  }
}
.form-component .cta-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.form-component .personal-info {
  display: flex;
  gap: 5rem;
}
@media screen and (max-width: 768px) {
  .form-component .personal-info {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.form-component .error {
  color: #ff0101 !important;
  font-size: 1.2rem !important;
  display: block;
  margin-top: 0.5rem;
}
.form-component .form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.form-component .form-item label {
  font-size: 1.6rem;
  color: #272829;
}
@media screen and (max-width: 768px) {
  .form-component .form-item label {
    font-size: 1.4rem;
  }
}
.form-component .form-item input,
.form-component .form-item textarea {
  border-radius: 0.6rem;
  background-color: #272829;
  padding: 1.5rem;
  color: #f5f7f8;
  outline: none;
  border: none;
}
.form-component .form-item input::-moz-placeholder, .form-component .form-item textarea::-moz-placeholder {
  color: #f5f7f8;
}
.form-component .form-item input::placeholder,
.form-component .form-item textarea::placeholder {
  color: #f5f7f8;
}
.form-component .form-item input:focus,
.form-component .form-item textarea:focus {
  border: 0.1rem solid #f5f7f8;
}
.form-component .form-item input.error,
.form-component .form-item textarea.error {
  border: 0.3rem solid #ff0101;
  font-weight: 500;
  color: #ff0101;
}
.form-component .btn {
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 0.6rem;
  background-color: #272829;
  padding: 1.5rem;
  color: #f5f7f8;
}
.form-component .btn:hover {
  cursor: pointer;
  background-color: #404243;
}
.form-component .form-img-box {
  max-width: 65rem;
  max-height: 52rem;
  width: 100%;
}
@media screen and (max-width: 1600px) {
  .form-component .form-img-box {
    max-width: 42rem;
    max-height: 100%;
  }
}
@media screen and (max-width: 992px) {
  .form-component .form-img-box {
    max-width: 100%;
  }
}
.form-component .form-img-box img {
  width: 100%;
  height: 100%;
  border-radius: 0 2rem 2rem 0;
}
@media screen and (max-width: 992px) {
  .form-component .form-img-box img {
    border-radius: 0 0 2rem 2rem;
  }
}
.form-component .rating-box label {
  color: #272829;
  font-size: 1.6rem;
}
.form-component .rating-box .stars {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0.8rem;
}
.form-component .rating-box .stars i {
  color: #272829;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}
.form-component .rating-box .stars i.active {
  color: #f5f7f8;
}
.form-component .message {
  color: #272829;
  display: none;
}
.form-component .message.active {
  display: block;
}

.book-appointment {
  position: relative;
  background-image: url("../img/sections-img/book-appoinment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  margin-bottom: 20rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .book-appointment {
    margin-bottom: 10rem;
  }
}
.book-appointment .book-appointment-bkg {
  background-color: rgba(39, 40, 41, 0.901);
  height: 17rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}
@media screen and (max-width: 1024px) {
  .book-appointment .book-appointment-bkg {
    height: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .book-appointment .book-appointment-bkg {
    height: 30rem;
  }
}
.book-appointment .book-appointment-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 0 10rem;
}
@media screen and (max-width: 1024px) {
  .book-appointment .book-appointment-content {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .book-appointment .book-appointment-content {
    padding: 0;
  }
}
.book-appointment .content {
  display: flex;
  gap: 4rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .book-appointment .content {
    flex-direction: column;
    gap: 2rem;
  }
}
.book-appointment .title {
  font-size: 4.8rem;
  font-weight: bold;
  padding-right: 2rem;
  border-right: 0.3rem solid #f4ce14;
}
@media screen and (max-width: 1400px) {
  .book-appointment .title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .book-appointment .title {
    border-right: none;
    padding-right: 0;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid #f4ce14;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .book-appointment .description {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .book-appointment .primary-button {
    font-size: 1.4rem;
  }
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: #f5f7f8;
  background-color: #272829;
}

.accent-yellow {
  color: #f4ce14;
}
@media screen and (max-width: 991px) {
  .accent-yellow.hero {
    color: #f5f7f8;
  }
}
@media screen and (max-width: 1199px) {
  .accent-yellow.hero-mid {
    color: #f5f7f8;
  }
}

.testimonials-component {
  margin-bottom: 20rem;
  padding: 0 2rem;
}
@media screen and (max-width: 992px) {
  .testimonials-component {
    margin-bottom: 10rem;
  }
}
.testimonials-component .testimonials-title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 6rem;
}
@media screen and (max-width: 768px) {
  .testimonials-component .testimonials-title {
    font-size: 3rem;
  }
}
.testimonials-component .swiper-wrapper {
  padding-bottom: 20rem;
  padding-top: 18rem;
}
@media screen and (max-width: 992px) {
  .testimonials-component .swiper-wrapper {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
}
.testimonials-component .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials-component .swiper-wrapper .swiper-slide a {
  text-decoration: none !important;
}
.testimonials-component .swiper-wrapper .swiper-slide .card {
  background-color: transparent;
  width: 65%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 4rem;
  transition: transform 400ms;
  opacity: 0.3;
  box-shadow: none;
}
@media screen and (max-width: 1280px) {
  .testimonials-component .swiper-wrapper .swiper-slide .card {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .testimonials-component .swiper-wrapper .swiper-slide .card {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
}
.testimonials-component .swiper-wrapper .swiper-slide .img-card {
  width: 10rem;
  height: 10rem;
  border-radius: 15rem;
  border: 0.1rem solid #f4ce14;
  box-shadow: 0 0 5rem rgba(244, 207, 20, 0.168627451);
}
@media screen and (max-width: 640px) {
  .testimonials-component .swiper-wrapper .swiper-slide .img-card {
    width: 7rem;
    height: 7rem;
  }
}
.testimonials-component .swiper-wrapper .swiper-slide .header-card {
  margin-top: 3rem;
  text-align: center;
}
.testimonials-component .swiper-wrapper .swiper-slide .header-card .name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #f5f7f8;
  font-weight: 500;
}
@media screen and (max-width: 640px) {
  .testimonials-component .swiper-wrapper .swiper-slide .header-card .name {
    font-size: 1.8rem;
  }
}
.testimonials-component .swiper-wrapper .swiper-slide .header-card .fa-star {
  font-size: 1.2rem;
  color: #424141;
}
.testimonials-component .swiper-wrapper .swiper-slide .header-card .fa-star.checked {
  color: #f4ce14;
}
.testimonials-component .swiper-wrapper .swiper-slide .content-container {
  padding: 1.5rem 4.5rem 3rem 4.5rem;
  overflow: hidden;
}
@media screen and (max-width: 414px) {
  .testimonials-component .swiper-wrapper .swiper-slide .content-container {
    padding: 1.5rem 3rem 3rem 3rem;
  }
}
.testimonials-component .swiper-wrapper .swiper-slide .content-container .content {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: #f5f7f8;
}
.testimonials-component .swiper-wrapper .swiper-slide .content-container .social {
  text-align: center;
  padding: 3rem 0 2rem 0;
}
.testimonials-component .swiper-wrapper .swiper-slide .content-container .social .logo-social {
  display: inline-block;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
}
.testimonials-component .swiper-wrapper .swiper-slide .content-container .social .logo-social svg {
  color: #f4ce14;
}
.testimonials-component .swiper-wrapper .swiper-slide .content-container .social .logo-social svg:hover {
  cursor: pointer;
  color: #e1c224;
}
.testimonials-component .swiper-wrapper .swiper-slide.swiper-slide-active {
  z-index: 1;
}
.testimonials-component .swiper-wrapper .swiper-slide.swiper-slide-active .card {
  background-color: transparent;
  border: 0.2rem solid #f4ce14;
  box-shadow: rgba(244, 207, 20, 0.168627451);
  opacity: 1;
  transform: scale(1.5);
}
@media screen and (max-width: 640px) {
  .testimonials-component .swiper-button-disabled {
    display: none;
  }
}
.testimonials-component .swiper-button-disabled .swiper-button-prev {
  color: #f4ce14;
}
.testimonials-component .swiper-button-disabled .swiper-button-prev:hover {
  color: #e1c224;
}
.testimonials-component .swiper-button-disabled .swiper-button-next {
  color: #f4ce14;
}
.testimonials-component .swiper-button-disabled .swiper-button-next:hover {
  color: #e1c224;
}
.testimonials-component .swiper-pagination .swiper-pagination-bullet {
  background-color: #f5f7f8;
}
.testimonials-component .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f4ce14;
}

.back-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-color: #f4ce14;
  border-radius: 50%;
  font-size: 2.8rem;
  text-align: center;
  color: #272829;
  z-index: 3;
}
@media screen and (max-width: 1024px) {
  .back-to-top {
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 414px) {
  .back-to-top {
    right: 1rem;
  }
}
.back-to-top .fa {
  padding: 1rem 0;
}
@media screen and (max-width: 1024px) {
  .back-to-top .fa {
    padding: 0.6rem 0;
  }
}
.back-to-top:hover {
  background-color: #e1c224;
  transition: transform 250ms;
  transform: translateY(-10px);
}

.hero-component {
  position: relative;
  display: flex;
  gap: 12rem;
  padding: 5rem 10rem 20rem 10rem;
  position: relative;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  .hero-component.hero-home {
    padding: 5rem 2rem 20rem 2rem;
  }
}
@media screen and (max-width: 991px) {
  .hero-component.hero-home {
    padding: 5rem 2rem 10rem 2rem;
  }
}
@media screen and (max-width: 991px) {
  .hero-component.hero-home {
    flex-direction: column;
    gap: 8rem;
  }
}
.hero-component.contact-page-hero {
  width: 45%;
  padding: 5rem 2rem 0rem;
}
@media screen and (max-width: 1024px) {
  .hero-component.contact-page-hero {
    width: auto;
    background-color: rgba(39, 40, 41, 0.901);
    border-radius: 3rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 1600px) {
  .hero-component.member-hero {
    padding: 5rem 2rem 10rem 2rem;
    gap: 8rem;
  }
}
.hero-component.appoinment-hero {
  gap: 4rem;
}
.hero-component.appoinment-hero, .hero-component.about-hero {
  padding: 5rem 2rem 20rem 2rem;
}
@media screen and (max-width: 992px) {
  .hero-component.appoinment-hero, .hero-component.about-hero {
    padding: 5rem 2rem 8rem 2rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 1400px) {
  .hero-component {
    padding: 12rem 2rem 20rem 2rem;
    gap: 4rem;
  }
}
@media screen and (max-width: 991px) {
  .hero-component {
    padding: 8rem 2rem 15rem 2rem;
    flex-direction: column;
    gap: 8rem;
  }
}
@media screen and (max-width: 992px) {
  .hero-component {
    padding: 8rem 2rem 10rem 2rem;
    gap: 5rem;
  }
}
@media screen and (max-width: 991px) {
  .hero-component .hero-description {
    text-align: center;
  }
}
.hero-component .hero-title {
  width: 20%;
  color: #f5f7f8;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  margin-bottom: 3.6rem;
  font-weight: bold;
}
.hero-component .hero-title.about-us-title {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .hero-component .hero-title {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .hero-component .hero-title {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-component .hero-title {
    font-size: 4rem;
  }
}
.hero-component .hero-text {
  line-height: 4rem;
  margin-bottom: 3.6rem;
}
@media screen and (max-width: 992px) {
  .hero-component .hero-text {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-component .hero-text {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-component .primary-button {
    font-size: 1.4rem;
  }
}
.hero-component .hero-img {
  border-radius: 3rem;
  max-width: 40rem;
  width: 100%;
  max-height: 40rem;
  height: 100%;
}
.hero-component .hero-img img {
  border-radius: 3rem;
  border: 2px solid #f4ce14;
  width: 100%;
  height: 100%;
}
.hero-component .hero-img.member-img, .hero-component .hero-img.appointment-img {
  max-height: 50rem;
}
@media screen and (max-width: 1024px) {
  .hero-component .hero-img.member-img, .hero-component .hero-img.appointment-img {
    margin: 0 auto;
    max-width: 30rem;
  }
}
.hero-component .hero-img.appointment-img img {
  border: none;
}
.hero-component .img-shadow {
  background-color: #f4ce14;
  position: absolute;
  right: -16rem;
  top: 23rem;
  max-width: 27rem;
  width: 100%;
  max-height: 24rem;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 991px) {
  .hero-component .img-shadow {
    display: none;
  }
}
.hero-component.left-img {
  flex-direction: row-reverse;
}
@media screen and (max-width: 991px) {
  .hero-component.left-img {
    flex-direction: column;
  }
}
.hero-component .buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 991px) {
  .hero-component .buttons-container {
    justify-content: center;
  }
}

.contact-page-hero-description {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
@media screen and (max-width: 1600px) {
  .contact-page-hero-description {
    gap: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .contact-page-hero-description {
    gap: 3rem;
    margin-top: 5rem;
    padding: 0 2rem;
  }
}

.hero-about {
  margin: 0 auto;
}
.hero-about .hero-component {
  gap: 6rem;
}
.hero-about .hero-img {
  max-width: 53rem;
  max-height: 50rem;
}

.services-component {
  margin-bottom: 20rem;
  padding: 0 2rem;
}
@media screen and (max-width: 992px) {
  .services-component {
    margin-bottom: 10rem;
  }
}
.services-component .services-intro {
  text-align: center;
  margin-bottom: 8rem;
}
@media screen and (max-width: 992px) {
  .services-component .services-intro {
    margin-bottom: 4rem;
  }
}
.services-component .title {
  font-size: 5rem;
  color: #f5f7f8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .services-component .title {
    font-size: 3rem;
  }
}
.services-component .subtitle {
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .services-component .subtitle {
    font-size: 1.6rem;
  }
}
.services-component .service-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4rem;
}
@media screen and (max-width: 1600px) {
  .services-component .service-cards {
    gap: 2rem;
  }
}
.services-component .card {
  flex: 1 0 20rem;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 0.2rem solid #f4ce14;
}
@media screen and (max-width: 1600px) {
  .services-component .card {
    flex: 1 0 18rem;
  }
}
.services-component .card-img {
  max-width: 7.8rem;
  max-height: 8rem;
}
.services-component .card-img .service-img {
  width: 100%;
  height: 100%;
}
.services-component .service-title {
  font-size: 2rem;
  font-weight: 500;
}
.services-component .service-description {
  text-align: center;
  font-size: 1.6rem;
}

.faq-component {
  margin-bottom: 20rem;
  padding: 0 2rem;
}
@media screen and (max-width: 992px) {
  .faq-component {
    margin-bottom: 10rem;
  }
}
.faq-component .faq-title {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 7rem;
  line-height: 6rem;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .faq-component .faq-title {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .faq-component .faq-title {
    font-size: 3rem;
  }
}
.faq-component .faq {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .faq-component .faq {
    width: 100%;
  }
}
.faq-component .faq .faq-item .question {
  position: relative;
  font-weight: 500;
  padding: 1rem 6rem 2rem 1rem;
  border-bottom: 1px solid #f4ce14;
  margin-top: 1rem;
}
.faq-component .faq .faq-item .question:hover {
  cursor: pointer;
  color: #f4ce14;
}
.faq-component .faq .faq-item .question.active {
  color: #f4ce14;
  border-bottom: 1px solid #f4ce14;
}
.faq-component .faq .faq-item .question.active::before {
  content: "-";
  color: #f4ce14;
}
.faq-component .faq .faq-item .question::before {
  position: absolute;
  content: "+";
  right: 1rem;
  margin-top: -0.4em;
  font-size: 3rem;
  color: #f4ce14;
  padding: 0.4rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
}
.faq-component .faq .faq-item .faq-content {
  margin-top: 1rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease 0.15s;
}
.faq-component .faq .faq-item .faq-content .faq-text {
  padding: 1rem 0 2rem 5rem;
}
@media screen and (max-width: 768px) {
  .faq-component .faq .faq-item .faq-content .faq-text {
    font-size: 1.6rem;
  }
}
.faq-component .faq .faq-item .faq-content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  transition: all 0.2s ease 0.15s;
  border-bottom: 1px solid #f4ce14;
}

.team-component {
  margin-bottom: 20rem;
  padding: 0 2rem;
}
@media screen and (max-width: 992px) {
  .team-component {
    margin-bottom: 10rem;
  }
}
.team-component .team-intro {
  text-align: center;
  margin-bottom: 8rem;
}
@media screen and (max-width: 992px) {
  .team-component .team-intro {
    margin-bottom: 4rem;
  }
}
.team-component .title {
  font-size: 5rem;
  color: #f5f7f8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .team-component .title {
    font-size: 3rem;
  }
}
.team-component .subtitle {
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .team-component .subtitle {
    font-size: 1.6rem;
  }
}
.team-component .member-card {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-right: 0.05rem solid #f4ce14;
  border-bottom: 0.05rem solid #f4ce14;
}
.team-component .member-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}
.team-component .member-card .member-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.team-component .member-card .member-img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 2s ease;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}
.team-component .member-card .member-description {
  position: absolute;
  bottom: 0rem;
  color: #f5f7f8;
  transition: background-color 1.5s ease;
  padding: 2rem 3rem;
}
.team-component .member-card .member-title {
  transition: color 1s ease;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}
.team-component .member-card .member-job {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #f5f7f8;
  margin-bottom: 2rem;
}
.team-component .member-card .member-details {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}
.team-component .member-card:hover .member-details {
  max-height: 20rem;
  opacity: 1;
}
.team-component .member-card:hover .member-description {
  background-color: rgba(0, 0, 0, 0.7);
}
.team-component .member-card:hover .member-img {
  transform: scale(1.2);
  z-index: -1;
}
.team-component .member-card .member-details-content {
  font-size: 1.4rem;
}
.team-component .member-card .member-read-more {
  background: black;
  color: #f5f7f8;
  display: block;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 0.3rem;
  margin-top: 2rem;
  border: 1px solid #424141;
  font-size: 1.4rem;
  backface-visibility: hidden;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  position: relative;
  z-index: 5;
  margin-right: 1rem;
}
.team-component .member-card .member-read-more i {
  position: relative;
  left: 0.2rem;
  color: #f5f7f8;
  transition: left 0.5s ease, color 0.6s ease;
  backface-visibility: hidden;
}
.team-component .member-card .member-read-more:hover {
  border: 1.5px solid #f4ce14;
}
.team-component .member-card .member-read-more:hover i {
  left: 0.5rem;
  color: #f4ce14;
}
.team-component .team-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.5rem;
}
.team-component .members {
  display: grid;
  grid-auto-rows: 50rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem 3rem;
}
.team-component .show-more {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: #f4ce14;
  margin-top: 2rem;
  cursor: pointer;
}
.team-component .show-more:hover {
  text-decoration: underline;
  color: #f4ce14;
}
.team-component .show-section {
  display: none;
}

.working-hours-container {
  margin-bottom: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0 2rem;
}
@media screen and (max-width: 992px) {
  .working-hours-container {
    flex-direction: column-reverse;
    gap: 5rem;
    margin-bottom: 10rem;
  }
}
.working-hours-container .working-hours-img {
  max-width: 50rem;
  width: 100%;
  max-height: 55rem;
  height: 100%;
  border-radius: 3rem;
}
.working-hours-container .working-hours-img img {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}
.working-hours-container .content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.working-hours-container .title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .working-hours-container .title {
    font-size: 3rem;
  }
}
.working-hours-container .description {
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 992px) {
  .working-hours-container .description {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .working-hours-container .description {
    font-size: 1.6rem;
  }
}
.working-hours-container .program-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 992px) {
  .working-hours-container .program-container {
    margin-bottom: 2rem;
  }
}
.working-hours-container .program {
  display: flex;
  min-width: 32rem;
  justify-content: space-between;
  gap: 9rem;
  border-bottom: 0.1rem solid #f4ce14;
  padding-bottom: 1rem;
}
.working-hours-container .day {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .working-hours-container .day {
    font-size: 1.6rem;
  }
}
.working-hours-container .hours {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .working-hours-container .hours {
    font-size: 1.6rem;
  }
}
.working-hours-container .buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 1024px) {
  .working-hours-container .buttons-container {
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .working-hours-container .buttons-container {
    justify-content: center;
  }
}

.price-container {
  position: relative;
  background-image: url("../img/sections-img/barber-shop-sign.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70rem;
  margin-bottom: 20rem;
}
@media screen and (max-width: 992px) {
  .price-container {
    margin-bottom: 10rem;
  }
}
.price-container .price-content {
  background-color: rgba(39, 40, 41, 0.901);
  border-radius: 3rem;
  padding: 4rem 5rem;
  width: 30%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .price-container .price-content {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 768px) {
  .price-container .price-content {
    margin: 0 2rem;
    padding: 4rem 0;
  }
}
.price-container .title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .price-container .title {
    font-size: 3rem;
  }
}
.price-container .description {
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 992px) {
  .price-container .description {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .price-container .description {
    font-size: 1.6rem;
  }
}
.price-container .price-list-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 992px) {
  .price-container .price-list-container {
    margin-bottom: 2rem;
  }
}
.price-container .price-item {
  display: flex;
  min-width: 32rem;
  justify-content: space-between;
  gap: 9rem;
  border-bottom: 0.1rem solid #f4ce14;
  padding-bottom: 1rem;
}
.price-container .service {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .price-container .service {
    font-size: 1.6rem;
  }
}
.price-container .price {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .price-container .price {
    font-size: 1.6rem;
  }
}

.gallery-photo-container {
  margin-bottom: 20rem;
  padding: 0 2rem;
}
@media screen and (max-width: 992px) {
  .gallery-photo-container {
    margin-bottom: 10rem;
  }
}
.gallery-photo-container .title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .title {
    font-size: 3rem;
  }
}
.gallery-photo-container .photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2.5rem;
  margin-top: 8rem;
}
@media screen and (max-width: 992px) {
  .gallery-photo-container .photos {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos {
    grid-gap: 1rem;
    margin-top: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery-photo-container .photos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.gallery-photo-container .photos img:hover {
  transform: scale(1.03);
}
.gallery-photo-container .photos .gallery-img1 {
  grid-area: 1/1/3/3;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img1 {
    grid-area: span 1/span 1;
  }
}
.gallery-photo-container .photos .gallery-img2 {
  grid-area: 1/3/3/4;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img2 {
    grid-area: span 2/span 1;
  }
}
.gallery-photo-container .photos .gallery-img3 {
  grid-area: 1/4/3/5;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img3 {
    grid-area: span 2/span 1;
  }
}
.gallery-photo-container .photos .gallery-img4 {
  grid-area: 3/1/5/2;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img4 {
    grid-area: span 2/span 1;
  }
}
.gallery-photo-container .photos .gallery-img5 {
  grid-area: 3/2/7/3;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img5 {
    grid-area: span 4/span 1;
  }
}
.gallery-photo-container .photos .gallery-img6 {
  grid-area: 3/3/5/5;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img6 {
    grid-area: span 2/span 2;
  }
}
.gallery-photo-container .photos .gallery-img7 {
  grid-area: 5/1/7/2;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img7 {
    grid-area: span 2/span 1;
  }
}
.gallery-photo-container .photos .gallery-img8 {
  grid-area: 5/3/7/4;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img8 {
    grid-area: span 2/span 1;
  }
}
.gallery-photo-container .photos .gallery-img9 {
  grid-area: 5/4/7/5;
}
@media screen and (max-width: 768px) {
  .gallery-photo-container .photos .gallery-img9 {
    grid-area: 5/2/7/3;
  }
}

.member-page {
  position: relative;
  margin-bottom: 20rem;
}
@media screen and (max-width: 992px) {
  .member-page {
    margin-bottom: 10rem;
  }
}

.member-info {
  position: absolute;
  top: 80%;
  background-color: #424141;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .member-info {
    top: 90%;
  }
}
@media screen and (max-width: 992px) {
  .member-info {
    top: 80%;
  }
}
@media screen and (max-width: 414px) {
  .member-info {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    height: 30rem;
  }
}
.member-info .content-member-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .member-info .content-member-info {
    gap: 0.5rem;
  }
}
.member-info .number {
  font-size: 4.8rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .member-info .number {
    font-size: 3rem;
  }
}
.member-info .info {
  font-size: 2.4rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .member-info .info {
    font-size: 1.8rem;
  }
}

.map-intro {
  text-align: center;
  margin-bottom: 8rem;
}
@media screen and (max-width: 992px) {
  .map-intro {
    margin-bottom: 4rem;
  }
}
.map-intro .title {
  font-size: 5rem;
  color: #f5f7f8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .map-intro .title {
    font-size: 3rem;
  }
}
.map-intro .subtitle {
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .map-intro .subtitle {
    font-size: 1.6rem;
  }
}

.google-map {
  position: relative;
  margin-bottom: 20rem;
  padding-bottom: 50%;
  margin: 0 2rem 20rem 2rem;
}
@media screen and (max-width: 992px) {
  .google-map {
    margin-bottom: 10rem;
  }
}
.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 3rem;
}

.container-info-contact {
  margin-bottom: 20rem;
  z-index: 1;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .container-info-contact {
    flex-direction: column;
    gap: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .container-info-contact {
    margin-bottom: 10rem;
  }
}
.container-info-contact .contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem;
  background-color: #f4ce14;
  border-radius: 3rem;
  color: #272829;
  text-align: center;
}
.container-info-contact .img-info {
  max-width: 5rem;
  width: 100%;
  max-height: 5rem;
  height: 100%;
}
.container-info-contact .important-info {
  width: 100%;
  font-size: 2.4rem;
}
.container-info-contact .important-info a {
  text-decoration: none;
  color: #272829;
  position: relative;
}
.container-info-contact .important-info a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #272829;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.container-info-contact .important-info a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
@media screen and (max-width: 768px) {
  .container-info-contact .important-info {
    font-size: 1.8rem;
  }
}

.slider-container {
  position: relative;
  width: 50%;
}
@media screen and (max-width: 992px) {
  .slider-container {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .slider-container {
    width: 90%;
  }
}
.slider-container .slider {
  width: 100%;
}
.slider-container .item {
  margin: 1.5rem;
  max-width: 20rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: rgba(244, 207, 20, 0.168627451) 0px 1px 0px, rgba(244, 207, 20, 0.168627451) 0px 0px 8px;
}
@media screen and (max-width: 1400px) {
  .slider-container .item {
    max-width: 18rem;
  }
}
@media screen and (max-width: 1024px) {
  .slider-container .item {
    max-width: 13rem;
  }
}
@media screen and (max-width: 992px) {
  .slider-container .item {
    max-width: 32rem;
  }
}
@media screen and (max-width: 520px) {
  .slider-container .item {
    max-width: 26rem;
  }
}
@media screen and (max-width: 450px) {
  .slider-container .item {
    max-width: 20rem;
  }
}
@media screen and (max-width: 370px) {
  .slider-container .item {
    max-width: 16rem;
  }
}
.slider-container .item img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.slider-container .half-image {
  width: 50%;
}
.slider-container .full-image {
  width: 100%;
}
.slider-container .slick-prev,
.slider-container .slick-next {
  top: 30rem;
}
@media screen and (max-width: 1024px) {
  .slider-container .slick-prev,
  .slider-container .slick-next {
    top: 20rem;
  }
}
@media screen and (max-width: 992px) {
  .slider-container .slick-prev,
  .slider-container .slick-next {
    top: 28rem;
  }
}
.slider-container .slick-prev:before,
.slider-container .slick-next:before {
  font-family: "slick";
  font-size: 4rem;
  line-height: 1;
  opacity: 0.75;
  color: #f4ce14;
}
.slider-container .slick-prev {
  left: 1rem;
}
@media screen and (max-width: 992px) {
  .slider-container .slick-prev {
    left: 22.5rem;
  }
}
.slider-container .slick-next {
  right: 49rem;
}
@media screen and (max-width: 1600px) {
  .slider-container .slick-next {
    right: 44rem;
  }
}
@media screen and (max-width: 1400px) {
  .slider-container .slick-next {
    right: 39rem;
  }
}
@media screen and (max-width: 1024px) {
  .slider-container .slick-next {
    right: 29rem;
  }
}
@media screen and (max-width: 992px) {
  .slider-container .slick-next {
    right: 22.5rem;
  }
}

.appointment-form {
  margin-bottom: 20rem;
  padding: 0 2rem;
}
@media screen and (max-width: 992px) {
  .appointment-form {
    margin-bottom: 10rem;
  }
}
.appointment-form .appointment-intro {
  text-align: center;
  margin-bottom: 8rem;
}
@media screen and (max-width: 992px) {
  .appointment-form .appointment-intro {
    margin-bottom: 4rem;
  }
}
.appointment-form .title {
  font-size: 5rem;
  color: #f5f7f8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .appointment-form .title {
    font-size: 3rem;
  }
}
.appointment-form .subtitle {
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .appointment-form .subtitle {
    font-size: 1.6rem;
  }
}
.appointment-form h3 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 600;
}
.appointment-form .appointment-form-container {
  position: relative;
  text-align: center;
  background: linear-gradient(to bottom, #000000 0%, rgba(244, 207, 20, 0.168627451) 90%);
  color: rgb(255, 255, 255);
  padding: 4rem;
  border-radius: 3rem;
  max-width: 60rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .appointment-form .appointment-form-container {
    max-width: 100%;
    width: auto;
  }
}
.appointment-form .progress-container {
  margin: 0 auto;
  width: 60%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .appointment-form .progress-container {
    width: 80%;
  }
}
@media screen and (max-width: 414px) {
  .appointment-form .progress-container {
    width: 100%;
  }
}
.appointment-form .progress-bar-back,
.appointment-form .progress-bar-front {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: rgb(100, 100, 100);
  border: none;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
.appointment-form .progress-bar-front {
  background-color: #f4ce14;
  transition: 0.4s linear width;
}
.appointment-form .step {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(100, 100, 100);
  color: #d3d3d3;
  position: relative;
}
.appointment-form .step.checked {
  color: #272829;
  border-color: #f4ce14;
  transition: all 0.4s linear;
  transition-delay: 0.3s;
}
.appointment-form .step.checked small {
  position: absolute;
  bottom: -20px;
  font-family: "Montserrat", sans-serif;
}
.appointment-form .btn {
  background-color: #f4ce14;
  color: #272829;
  text-decoration: none;
  padding: 1.3rem 3rem;
  border-radius: 10rem;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.appointment-form .btn:hover {
  background-color: #e1c224;
}
.appointment-form .btn.transp {
  border: 0.2rem solid #f4ce14;
  background-color: #272829;
  color: #f5f7f8;
}
.appointment-form .btn.transp:hover {
  background-color: rgba(244, 207, 20, 0.168627451);
}
.appointment-form .btn:active {
  transform: scale(0.97);
}
.appointment-form .btn:disabled {
  background-color: #d3d3d3;
}
.appointment-form .form {
  margin: 4rem 0;
}
.appointment-form form {
  margin: 2rem 0 3rem 0;
}
.appointment-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}
.appointment-form label {
  font-size: 1.6rem;
}
.appointment-form input {
  border-radius: 0.6rem;
  padding: 1.5rem;
  color: #272829;
  outline: none;
  border: none;
}
.appointment-form input::-moz-placeholder {
  color: #424141;
}
.appointment-form input::placeholder {
  color: #424141;
}
.appointment-form input:focus {
  border: 0.2rem solid #f4ce14;
}
.appointment-form .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .appointment-form .cards-container {
    grid-template-columns: 1fr;
  }
}
.appointment-form .card {
  flex: 1;
  border: 0.3rem solid #f5f7f8;
  border-radius: 3rem;
  padding: 4rem;
  color: #f5f7f8;
  font-weight: 500;
  font-size: 2rem;
}
.appointment-form .card:hover {
  cursor: pointer;
  border: 0.3rem solid #f4ce14;
}
.appointment-form .card.selected {
  border: 0.3rem solid #f4ce14;
}
.appointment-form .message-error-service {
  color: #ff0101;
  font-size: 1.4rem;
  font-weight: 500;
  display: none;
}
.appointment-form .message-error-service.active {
  display: block;
}
.appointment-form .stylist-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.appointment-form .stylist {
  border: 0.3rem solid #f5f7f8;
  padding: 4rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #f5f7f8;
  border-radius: 3rem;
}
.appointment-form .stylist:hover {
  cursor: pointer;
  border: 0.3rem solid #f4ce14;
}
.appointment-form .stylist.selected {
  border: 0.3rem solid #f4ce14;
}
.appointment-form .img-stylist {
  max-width: 20rem;
  width: 100%;
  max-height: 25rem;
  height: 100%;
  border-radius: 100rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 414px) {
  .appointment-form .img-stylist {
    max-width: 15rem;
    max-height: 20rem;
  }
}
.appointment-form .price-service {
  font-size: 1.8rem;
  margin-top: 2rem;
}
.appointment-form .item-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 1rem;
  text-align: left;
}
.appointment-form .date-time {
  margin-left: 2rem;
}
.appointment-form input[type=date],
.appointment-form input[type=time] {
  padding: 0 1.5rem;
  width: 90%;
  height: 4.5rem;
  align-self: center;
}
.appointment-form .icon {
  margin-right: 0.5rem;
}
.appointment-form .error {
  font-size: 1.4rem;
  color: #ff0101;
}
.appointment-form .container-overview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 3rem;
  border: 0.3rem solid #f4ce14;
  padding: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 0 auto;
}
.appointment-form .title-overview {
  font-weight: 500;
  font-size: 2rem;
}
.appointment-form #closeButton {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  border-radius: 100rem;
  padding: 1rem 1.5rem;
}
.appointment-form .message-success {
  font-size: 4rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .appointment-form .message-success {
    font-size: 3rem;
  }
}
.appointment-form .img-success {
  max-width: 30rem;
  width: 100%;
  margin-top: 2rem;
}

.circle-bar .radial-progress {
  display: none;
  height: auto;
  max-width: 6rem;
  transform: rotate(-90deg);
  width: 100%;
  margin: 0 auto;
}
.circle-bar .radial-progress.active {
  display: block;
}
.circle-bar circle {
  fill: transparent;
  stroke-dashoffset: 219.9114857513; /* Circumference */
  stroke-width: 10;
  stroke: #272829;
}
.circle-bar .incomplete {
  opacity: 0.25;
}
.circle-bar .complete {
  stroke-dasharray: 219.9114857513; /* Circumference */
}
.circle-bar .percentage {
  text-align: center;
  padding-top: 1rem;
  color: #272829;
}/*# sourceMappingURL=main.css.map */